/* ====================================
        BLOG PAGE
================================= */


// HEADER

.headerBlog {
  @include headerStyles(url(../assets/blog-header-1.jpg), 70vh);
}


// ASIDE

.blogMain {
  display: flex;
  background: $background;
    
    aside {
      margin: 75px 10% 0 0;
    }
}
  
.sidebarText {
  margin: -77% -25px 0 20%;   
  background: white;
  padding: 80% 1.6rem 1.6rem;

    h5 {
      padding: 20px 0;
    }
}

.sideAbout a:hover,
.sideAbout a:focus {
  text-decoration: underline;
}


// BLOG POST SECTION

.mission {
  display: flex;
  flex-direction: column;
  margin-top: -15%;
  z-index: 10;

    .wrapper {
      margin-right: 0;
    }

    .blogPost {
      margin-right: 20px;
      padding: 50px 10% 5px 35px;
      border-bottom: $blogBorder;
      border-left: $blogBorder;
      
        p {
          padding-bottom: 15px;
        }
    }
} 

.blogHeader {
  padding-bottom: 0;
}

.byline {
  padding-bottom: 45px;
}

.missionImage {
  margin-right: 20px;

    img {
      margin-left: 20px;
      margin-bottom: 15px;
      box-shadow: -20px 22px $accent;
    }
}

.commentSection {
  display: flex;
  flex-direction: column;
  padding: 40px 10% 40px 0;

    h5 {
      padding-bottom: 30px;
    }

    .comment {
      display: flex;
      justify-content: space-around;
      margin-bottom: 25px;

        .commentText {
          flex: 1 0 60%;
        }
    }
}

.commentImage {
  padding: 20px;

    img {
      flex: 1 0 auto;
    }
}
