/* ====================================
        CONTACT PAGE
================================= */


// HEADER

.headerContact {
  @include headerStyles(url(../assets/contact-header-1.jpg), 70vh);
}


// CONTACT ASIDE
.contactMain {
  background: $background;

    .wrapper {
      display: flex;
    }
}

.contactInfo {
  display: flex;
  flex-direction: column;
  padding: 100px 40px 120px 0;
  margin-left: -40px;
}

.socials {
  display: flex;

    ul {
      display: flex;

        li {
          padding: 0 20px 15px 0;

            i:hover,
            i:focus-within {
              background: $button;
              color: $background;
              border-radius: 20%;
            }
        }
    }
}

.emailAddress {
  padding-bottom: 15px;
}

.address {
  width: 150%;
}


// FORM

.contactForm {
  background: white;
  box-shadow: -15px 15px $accent;
  margin: -15% -40px 0 80px;
  padding: 60px 60px 40px 60px;
  width: 100%;
  height: 100%;
  z-index: 10;

    textarea {
      height: 200px;
    }
}