@media (max-width: 880px) {

  // GENERAL
  .mobileOnly {
    visibility: visible;
  }

  div.wrapper {
    width: 90%;
  }

  .topBar {
    justify-content: space-between;
    height: 100%;
    overflow: hidden;

      nav {
        visibility: hidden;
      }
  }

  h3 {
    font-size: 2.3rem;
  }


  // HOME PAGE
  // header
  .headerImage {
    display: none;
  }

  h1 {
    font-size: 5.5rem;
    text-align: center;
  }

  // about
  main .about {
    padding: 60px 0;
  }

  // articles
  .articles .wrapper {
    flex-direction: column;

      .rightColumn .articleImage {
        align-self: flex-end;
      }
  }

  // more info
  .moreInfo .wrapper {
    flex-direction: column;
  }

  // founder
  .founder div.wrapper {
    flex-direction: column;
    align-items: center;
    padding: 40px 0;

      .founderImage {
        padding-bottom: 40px;
        margin: 0;
      }
  }

  .founder .founderText {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0;

      h4 {
        text-align: center;
      }
    }
    
  .founderText .buttonBox {
    align-self: center;
  }

  // gallery
  section.gallery { 
    padding: 0;
  
    .wrapper {
      width: 100%;
      border-bottom: 2px solid $button;
      
        div.galleryImage {
          width: calc(100% / 3);
          margin: 0;
        }
    }
  }  


  // BLOG PAGE
  .blogMain aside {
    display: none;
  }

  .blogMain .mission {
    margin-top: -20%;
  }

  div.missionImage {
    margin-left: 150px;
  } 

  .blogPost {
    border-top: $blogBorder;
    
  }

  .commentForm .userInfo {
    flex-direction: column;

      .email {
        margin: 25px 0 0 0;
      }
  }

  // CONTACT PAGE
  .headerContact h2 {
    display: flex;
    justify-content: center;
  }

  .contactMain .wrapper {
    flex-direction: column-reverse;
  }

  form.contactForm {
    margin: -15% 0 0 40px;
    padding: 40px 20px 20px 20px; 
  }

  aside.contactInfo {
    margin-left: 65px;
    overflow-x: hidden;
    padding: 60px 40px 40px 0;
  }

  .address {
    width: 100%;

      div:first-child {
        display: flex;
        
          p:not(:last-child) {
            padding-right: 170px;
          }
    }
  }

  .address div:last-child {
    display: flex;

      p {
        padding-right: 40px;
      }
  }
}

@media (max-width: 720px) {

  // CONTACT PAGE
  
}


@media (max-width: 480px) {

  // HOME PAGE
  header h1 {
    font-size: 4rem;
    line-height: 4rem;
    padding-top: 4rem;
  }

  section.about {
    padding: 30px 0;
      
      div.wrapper {
        width: 90%;
        
          h3 {
            font-size: 1.6rem;
          } 

          .buttonBox {
            margin: 20px 25%;
          }
      }
  } 
    
    section.about p {
    text-align: left;
  }

  // BLOG PAGE
  .headerBlog h2 {
    margin-top: 4rem;
  }

  .comment {
    flex-direction: column;

      .commentImage {
        padding: 0;
      }
  }
}