/* ====================================
        BLOG PAGE
================================= */


// HEADER

.headerBlog {
  background-image: url(../assets/blog-header-1.jpg);
  height: 70vh;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  
    .wrapper {
      display: flex;
      flex-direction: column;
    }
}


// MAIN

.blogMain {
  display: flex;
  background: $background;
}


// ASIDE

.blogMain aside {
  // margin-right: 80px;
  margin: 100px 80px 0 0;

    img {
      box-shadow: 25px 0px white;
      // Is there a way to offset top without bleeding over on bottom?
    }
}

.sidebarText {
  margin: -20px -25px 0 20%;
  background: white;
  padding: 2rem;

    h5 {
      padding: 20px 0;
    }
}

.sideAbout a:hover,
.sideAbout a:focus {
  text-decoration: underline;
}




// BLOG POST SECTION
