




@media (max-width: 800px) {
  nav {
    visibility: hidden;
  }

  .mobileOnly {
    visibility: visible;
  }

  .headerImage {
    display: none;
  }

  h1 {
    font-size: 5.5rem;
  }
}


@media (max-width: 650px) {

}