@import "setup";
@import "vars";
@import "general";
@import "typography";
@import "blog";
@import "contact";


/* ====================================
        HOME PAGE
================================= */


// HEADER

.headerHome {
  background-image: url(../assets/home-image-1.jpg);
  height: 85vh;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  
    .wrapper {
      display: flex;
      flex-direction: column;
    }
}


h1 {
  align-self: center;
  padding-top: 7rem;
  z-index: 10;
}

.headerImage {
  height: 70vh; 
  width: 40%;
  object-fit: cover;
  position: absolute;
  right: 0;
  bottom: -15%;
}


// ABOUT SECTION

.about {
  background: $background;
  padding: 150px 0;
  
    .wrapper {
      display: flex;
      flex-direction: column;
      text-align: center;
      width: 70%;

        .buttonBox {
          margin: 20px 40%;
        }
    }
}


// ARTICLES SECTION

.articles {
  // padding: 80px 0;
}

.articles .wrapper {
  display: flex;
  width: 100%;
}

.leftColumn {
  display: flex;
  flex-direction: column-reverse;
  margin-right: 70px;

    .articleImage {
      margin-top: -60px 0;
      
        img {
          display: block;
          box-shadow: 20px 20px $accent;
        }
        
        article {
          display: flex;
          flex-direction: column;
          align-items: flex-end;      
        }
    }
}

.rightColumn {
  display: flex;
  flex-direction: column;
  margin-left: 70px;

    .articleImage {
      margin-bottom: -60px 0;
      
        img {
          display: block;
          box-shadow: -20px 20px $accent;
        }
        
        article {
        }
    }
}


// MORE INFO SECTION

.moreInfo {
  background: $background;
    
    .wrapper {
        display: flex; 
        flex-wrap: wrap;
        justify-content: center;
        padding: $sectionPadding;
      }
}


.infoContainer {
  flex: 1 0 50%;
  padding: 30px;

    p {
      margin-left: 4.25rem;
    }
}

h5 {
  padding-bottom: 10px;
  
    i {
      font-size: 1.5rem;
    }
} 

.iconBackground {
  color: $accent;
}

h5:hover a,
h5:focus-within a {
  color: darken($accent, 10);
}


// FOUNDER SECTION

.founder {
  background: $background;

    .wrapper {
      display: flex; 
      justify-content: space-between;
      padding: $sectionPadding;
    }
}

.founderImage {
  width: 30%;
  margin-right: 40px; 

    img {
      box-shadow: 20px 20px $accent;
    }
}

.founderText {
  width: 70%;
  margin-left: 40px;

    .buttonBox {
      margin-top: 25px;
    }
}


// GALLERY SECTION

.gallery {
  padding: 50px 0;

    .wrapper {
      display: flex;
      flex-wrap: wrap;

        .galleryImage {
          width: calc(100% / 3 - 20px);
          margin: 0 10px;
        }
    }
}