html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

h1, h2, h3, h4, h5, h6, p, ul, li, a {
  margin: 0;
  padding: 0;
}

body {
  overflow-x: hidden;
}

h2 {
  margin-top: 8rem;
}
h2 span {
  display: block;
  padding-right: 20px;
}

h3 {
  padding-bottom: 25px;
}

h4 {
  padding-bottom: 25px;
}

.wrapper {
  width: 85%;
  max-width: 1300px;
  margin: 0 auto;
}

img {
  max-width: 100%;
}

ul:not(.sideRecent ul) {
  list-style: none;
}

a {
  text-decoration: none;
}

.buttonBox {
  background: #0E902D;
  display: inline-block;
  padding: 8px;
}
.buttonBox:hover, .buttonBox:focus-within {
  background: #09621e;
}

.mobileOnly,
i.mobileOnly {
  display: none;
}

.topBar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 35px;
  position: relative;
}
.topBar ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.topBar li {
  padding: 5px 15px 0;
}
.topBar li:hover a, .topBar li:focus-within a {
  color: #daca07;
}

.topBleed {
  background: black;
}

.subPage {
  padding: 15px 0;
}

.logo {
  padding-right: 15px;
}

.fa-bars {
  color: white;
  font-size: 1.6rem;
}

i.fa-times {
  display: none;
}

.hamburger {
  background: none;
  border: none;
  position: absolute;
  right: 0;
}

.userInfo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

input[type=text],
input[type=email] {
  background: none;
  border: none;
  border-bottom: 2px solid #0E902D;
}

textarea {
  background: none;
  border: 2px solid #0E902D;
  width: 100%;
  height: 200px;
  resize: none;
}
textarea::-webkit-input-placeholder {
  padding: 20px 0 0 50px;
}
textarea::-moz-placeholder {
  padding: 20px 0 0 50px;
}
textarea:-ms-input-placeholder {
  padding: 20px 0 0 50px;
}
textarea::-ms-input-placeholder {
  padding: 20px 0 0 50px;
}
textarea::placeholder {
  padding: 20px 0 0 50px;
}

form button {
  color: white;
  background: #0E902D;
  border: none;
  width: 100%;
  padding: 10px 0;
}
form button:hover, form button:focus {
  background: #09621e;
}

form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
form .userInfo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

label {
  padding-left: 50px;
}

.name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-right: 15px;
}
.name input {
  width: 100%;
}

.email {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-left: 15px;
}
.email input {
  width: 100%;
}

.userComment {
  margin: 30px 0 30px;
}
.userComment label {
  visibility: hidden;
}

footer {
  background: #2C2C2C;
}
footer p {
  color: grey;
  text-align: center;
}
footer p a {
  color: inherit;
}
footer p a:hover, footer p a:focus {
  text-decoration: underline;
}

html {
  font-size: 125%;
  font-family: "Josefin Sans", sans-serif;
  font-weight: bold;
  color: #2C2C2C;
}

h1 {
  font-size: 7.3rem;
  font-weight: normal;
  color: white;
  line-height: 5.8rem;
}
h1 span {
  display: block;
  color: #F8E71C;
  text-transform: lowercase;
}

h2 {
  font-size: 4rem;
  line-height: 4.6rem;
  color: #F8E71C;
}

h3 {
  font-size: 2.8rem;
  text-align: center;
  letter-spacing: 1.3px;
}

h4 {
  font-size: 2.2rem;
  letter-spacing: 1.3px;
}

.blogHeader {
  font-size: 2.1rem;
  letter-spacing: 1px;
}

h5, h5 a {
  font-size: 1.6rem;
  letter-spacing: 1px;
  color: #2C2C2C;
  font-family: "Josefin Sans", sans-serif;
  font-weight: bold;
}

h6 {
  font-size: 1rem;
  line-height: 1.6rem;
  color: #074115;
}

.buttonBox a {
  font-size: 1rem;
  text-align: center;
  line-height: 1.6rem;
  letter-spacing: 1px;
}

p, .sideRecent li {
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  line-height: 1.6rem;
  font-weight: normal;
}

.logo p {
  font-family: "Josefin Sans", sans-serif;
  font-size: 2rem;
  font-weight: normal;
}

a {
  font-size: 1rem;
  color: white;
  font-weight: normal;
}

nav a {
  text-transform: uppercase;
}

.sideAbout a {
  color: #074115;
  font-style: italic;
  font-weight: bold;
}

.byline {
  font-style: italic;
  color: #074115;
}
.byline span {
  font-weight: bold;
}

textarea::-webkit-input-placeholder {
  font-weight: 300;
  font-size: 1rem;
  line-height: 1.6rem;
  color: #797979;
}

textarea::-moz-placeholder {
  font-weight: 300;
  font-size: 1rem;
  line-height: 1.6rem;
  color: #797979;
}

textarea:-ms-input-placeholder {
  font-weight: 300;
  font-size: 1rem;
  line-height: 1.6rem;
  color: #797979;
}

textarea::-ms-input-placeholder {
  font-weight: 300;
  font-size: 1rem;
  line-height: 1.6rem;
  color: #797979;
}

label,
textarea::placeholder {
  font-weight: 300;
  font-size: 1rem;
  line-height: 1.6rem;
  color: #797979;
}

textarea::-webkit-input-placeholder {
  font-family: "Josefin Sans", sans-serif;
}

textarea::-moz-placeholder {
  font-family: "Josefin Sans", sans-serif;
}

textarea:-ms-input-placeholder {
  font-family: "Josefin Sans", sans-serif;
}

textarea::-ms-input-placeholder {
  font-family: "Josefin Sans", sans-serif;
}

textarea::placeholder {
  font-family: "Josefin Sans", sans-serif;
}

.active {
  color: #F8E71C;
}

.logo p {
  color: white;
}

.socials i {
  font-size: 1.4rem;
  color: #0E902D;
}

.emailAddress {
  font-weight: bold;
}

@media (max-width: 1000px) {
  .headerContact h2 {
    margin-top: 4rem;
  }
}
@media (max-width: 880px) {
  i.mobileOnly,
.mobileMenu {
    display: block;
  }

  div.wrapper {
    width: 90%;
  }

  .topBar {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    height: 100%;
    overflow: hidden;
  }
  .topBar nav {
    visibility: hidden;
  }

  h3 {
    font-size: 2.3rem;
  }

  .headerImage {
    display: none;
  }

  h1 {
    font-size: 5.5rem;
    text-align: center;
  }

  main .about {
    padding: 60px 0;
  }

  .articles .wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .articles .wrapper .rightColumn .articleImage {
    -ms-flex-item-align: end;
        align-self: flex-end;
  }

  .moreInfo .wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .founder div.wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 40px 0;
  }
  .founder div.wrapper .founderImage {
    padding-bottom: 40px;
    margin: 0;
  }

  .founder .founderText {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
    margin: 0;
  }
  .founder .founderText h4 {
    text-align: center;
  }

  .founderText .buttonBox {
    -ms-flex-item-align: center;
        align-self: center;
  }

  section.gallery {
    padding: 0;
  }
  section.gallery .wrapper {
    width: 100%;
    border-bottom: 2px solid #0E902D;
  }
  section.gallery .wrapper div.galleryImage {
    width: calc(100% / 3);
    margin: 0;
  }

  .blogMain aside {
    display: none;
  }

  .blogMain .mission {
    margin-top: -20%;
  }

  div.missionImage {
    margin-left: 150px;
  }

  .blogPost {
    border-top: 5px solid #F8E71C;
  }

  form .userInfo {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  form .userInfo .email {
    margin: 25px 0 0 0;
  }

  .headerContact h2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .contactMain .wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }

  form.contactForm {
    margin: -15% 0 0 40px;
    padding: 40px 20px 20px 20px;
  }

  aside.contactInfo {
    margin-left: 65px;
    overflow-x: hidden;
    padding: 60px 40px 40px 0;
  }

  .address {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-right: 20px;
  }
  .address .phoneNumber {
    font-weight: bold;
    padding-top: 0.9rem;
  }

  .streetAddress {
    margin-left: 80px;
  }
}
@media (max-width: 720px) {
  .headerContact h2 {
    font-size: 2.4rem;
  }
  .headerContact h2 span {
    display: inline-block;
    padding-left: 0.5rem;
  }

  form.contactForm {
    margin-left: 8px;
  }

  div.address {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  div.address > div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-left: 0;
  }

  .address div:first-child p:last-child {
    padding-top: 0;
  }
}
@media (max-width: 480px) {
  header h1 {
    font-size: 3.8rem;
    line-height: 4rem;
    padding-top: 4rem;
  }

  section.about {
    padding: 30px 0;
  }
  section.about div.wrapper {
    width: 90%;
  }
  section.about div.wrapper h3 {
    font-size: 1.6rem;
  }
  section.about div.wrapper .buttonBox {
    margin: 20px 25%;
  }

  section.about p {
    text-align: left;
  }

  .leftColumn article {
    margin-right: -40px;
  }

  .rightColumn article {
    margin-left: -40px;
  }

  h5 a {
    font-size: 1.3rem;
  }

  div.infoContainer {
    margin-left: -2rem;
  }

  .headerBlog h2 {
    margin-top: 4rem;
  }

  .comment {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .comment .commentImage {
    padding: 0;
  }
}
/* ====================================
        BLOG PAGE
================================= */
.headerBlog {
  background-image: url(../assets/blog-header-1.jpg);
  height: 70vh;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}
.headerBlog .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.blogMain {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: #F0EFED;
}
.blogMain aside {
  margin: 75px 10% 0 0;
}

.sidebarText {
  margin: -77% -25px 0 20%;
  background: white;
  padding: 80% 1.6rem 1.6rem;
}
.sidebarText h5 {
  padding: 20px 0;
}

.sideAbout a:hover,
.sideAbout a:focus {
  text-decoration: underline;
}

.mission {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: -15%;
  z-index: 10;
}
.mission .wrapper {
  margin-right: 0;
}
.mission .blogPost {
  margin-right: 20px;
  padding: 50px 10% 5px 35px;
  border-bottom: 5px solid #F8E71C;
  border-left: 5px solid #F8E71C;
}
.mission .blogPost p {
  padding-bottom: 15px;
}

.blogHeader {
  padding-bottom: 0;
}

.byline {
  padding-bottom: 45px;
}

.missionImage {
  margin-right: 20px;
}
.missionImage img {
  margin-left: 20px;
  margin-bottom: 15px;
  -webkit-box-shadow: -20px 22px #F8E71C;
          box-shadow: -20px 22px #F8E71C;
}

.commentSection {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 40px 10% 40px 0;
}
.commentSection h5 {
  padding-bottom: 30px;
}
.commentSection .comment {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-bottom: 25px;
}
.commentSection .comment .commentText {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 60%;
          flex: 1 0 60%;
}

.commentImage {
  padding: 20px;
}
.commentImage img {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
}

/* ====================================
        CONTACT PAGE
================================= */
.headerContact {
  background-image: url(../assets/contact-header-1.jpg);
  height: 70vh;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}
.headerContact .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.contactMain {
  background: #F0EFED;
}
.contactMain .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.contactInfo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 100px 40px 120px 0;
  margin-left: -40px;
}

.socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.socials ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.socials ul li {
  padding: 0 20px 15px 0;
}
.socials ul li i:hover,
.socials ul li i:focus-within {
  background: #0E902D;
  color: #F0EFED;
  border-radius: 20%;
}

.emailAddress {
  padding-bottom: 15px;
}

.address {
  width: 150%;
}

.contactForm {
  background: white;
  -webkit-box-shadow: -15px 15px #F8E71C;
          box-shadow: -15px 15px #F8E71C;
  margin: -15% -40px 0 80px;
  padding: 60px 60px 40px 60px;
  width: 100%;
  height: 100%;
  z-index: 10;
}

/* ====================================
        HOME PAGE
================================= */
.headerHome {
  background-image: url(../assets/home-image-1.jpg);
  height: 85vh;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}
.headerHome .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

h1 {
  -ms-flex-item-align: center;
      align-self: center;
  padding-top: 7rem;
  z-index: 10;
}

.headerImage {
  height: 70vh;
  width: 50%;
  -o-object-fit: cover;
     object-fit: cover;
  -ms-flex-item-align: end;
      align-self: flex-end;
  margin: -30% -8.8% 0 0;
}

.about {
  background: #F0EFED;
  padding: 150px 0;
}
.about .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  width: 70%;
}
.about .wrapper .buttonBox {
  margin: 20px 34%;
}

.articles .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

.leftColumn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
  margin-right: 70px;
}
.leftColumn .articleImage {
  margin-top: -35px;
}
.leftColumn .articleImage img {
  display: block;
  -webkit-box-shadow: 25px 25px #F8E71C;
          box-shadow: 25px 25px #F8E71C;
}

.leftColumn article {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}
.leftColumn article h5, .leftColumn article p {
  text-align: right;
}
.leftColumn article .buttonBox {
  margin: 30px 0;
}

.rightColumn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-left: 70px;
}
.rightColumn .articleImage {
  margin-bottom: -35px;
}
.rightColumn .articleImage img {
  display: block;
  -webkit-box-shadow: -25px 25px #F8E71C;
          box-shadow: -25px 25px #F8E71C;
}

.rightColumn article {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
.rightColumn article h5, .rightColumn article p {
  text-align: left;
}
.rightColumn article .buttonBox {
  margin: 30px 0;
}

article h5 {
  padding-top: 60px;
}

.moreInfo {
  background: #F0EFED;
}
.moreInfo .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 70px 0;
}

.infoContainer {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 50%;
          flex: 1 0 50%;
  padding: 30px;
}
.infoContainer p {
  margin-left: 4.7rem;
}

h5 {
  padding-bottom: 10px;
}
h5 i {
  font-size: 1.5rem;
}

.iconBackground {
  color: #F8E71C;
}

h5:hover a,
h5:focus-within a {
  color: #daca07;
}

.founder {
  background: #F0EFED;
}
.founder .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 70px 0;
}

.founderImage {
  width: 30%;
  margin-right: 40px;
}
.founderImage img {
  -webkit-box-shadow: 20px 20px #F8E71C;
          box-shadow: 20px 20px #F8E71C;
}

.founderText {
  width: 70%;
  margin-left: 40px;
}
.founderText .buttonBox {
  margin-top: 25px;
}

.gallery {
  padding: 50px 0;
}
.gallery .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.gallery .wrapper .galleryImage {
  width: calc(100% / 3 - 20px);
  margin: 0 10px;
}
.gallery .wrapper .galleryImage img {
  height: 100%;
}